$button-size: 25px;
$button-padding: 10px;
$font-size-normal: 17px;
$font-size-small: 13px;

.btn {
	color: black;
	text-decoration: none;
	border: 1px solid black;
	border-radius: 4px;
	background-color: transparent;
	padding: $button-padding $button-padding;
	font-size: 17px;
	margin-right: 10px;
	transition: all 0.2s ease-in;
}
.btn-submit:hover {
	background-color: #78ee8f;
}
.btn-transparent:hover {
	background-color: #78ee8f;
}
.btn-danger:hover {
	background-color: #d11a2a;
}
.btn-warning:hover {
	background-color: rgb(255, 224, 46);
}

.btn:disabled {
	opacity: 0.5;
}

@media (max-width: 768px) {
	.btn {
		padding: $button-padding / 1.5 $button-padding / 1.5;
		font-size: $font-size-small;
	}
}
