.task-form.wrapper {
	margin-top: 25px;
}

.input-block {
	margin-bottom: 15px;
}

.input-block__input {
	margin-left: 5px;
    padding: 5px;
    font-size: 16px
}
.input-block__input[type="checkbox"] {
	transform: scale(1.5);
	opacity: 0.9;
	cursor: pointer;
}
