.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu__section {
  margin: 0;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0 , 0 , 0 , 0.5 );
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color : black;
  list-style: none;
}
.menu_item{
  font-weight: bold;
  font-size: 24px;
  text-decoration: none;
}



.menu_item:visited{
  color: black;
}

.menu_item:active{
  color: grey;
}
a.menu_item.active{
    color:white;
}

li{
    list-style: none;
}

.link__breed {
    font-size: 20px;
}

.semiBriid__list{
    font-size: 15px;
}

.breed__list , .container{
  margin-top: 50px;
}


