$font-large: 20px;
$font-medium: 18px;
$font-small: 12px;
$button-size: 30px;

.header {
	background-color: #fa6546;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-shrink: 1;
	padding: 0 10px;

	&__title {
		margin: 0;
	}
}
.link {
	color: white;
	font-size: $font-medium;
	text-decoration: none;
	transition: all 0.2s ease-in;
}
.sideMenu-toggler {
	border: none;
	background-color: transparent;

	&-img {
		width: $button-size;
		height: $button-size;
	}
}
.link:hover {
	color: black;
}

@media (max-width: 768px) {
	.header__title {
		font-size: $font-large;
	}
	.link {
		color: white;
		font-size: $font-small;
		text-decoration: none;
		transition: all 0.2s ease-in;
	}
	.sideMenu-toggler-img{
		width: $button-size / 1.5;
		height: $button-size / 1.5;
	}
}
