.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.grid_container{
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 5vw 95vw;
}

.grid_container.nav_wide{
  display: grid;
  grid-template-rows: 5vh 95vh;
  grid-template-columns: 20vw 80vw;
}


.header {
  grid-column: 1/3;
  background-color: coral;
  display: flex;
  justify-content: space-evenly;
}

.header__title{
  margin: 0;
}

.nav{
  background-color: cornflowerblue;
}
.main{
  background-color: yellow;
}

.nav{
  grid-row: 2/3;
  grid-column: 1/2;
  padding-left: 10px;
}

.tasks__item {
  display: flex;
  justify-content: space-between;
}

.welcome.section {
  display: flex;
  grid-row: 2/3;
  grid-column: 1/3;
  align-items: center;
  justify-content: center;
}